/*********************
     GENERAL RULES
/*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Whitney", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.center-block {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
}


.btn {
    border-radius: 25px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    background-color: #fff;
    margin: 10px;
}

a.btn {
    color: black;
}

a.btn:hover {
    color: #3161e0;
}

.btn.black-white {
    background-color: #000;
    color: white;
}

.btn.white-black {
    background-color: #fff;
}



i.icon {
    font-size: 20px;


}


/*********************
    SECTIONS RULES
/*********************/

#main-header {
    position: fixed;
    width: 100%;
    background-color: #3161e0;
    text-align: center;
    position: relative;
    height: 80px;
}

#main-header div, #main-header nav  {
    position: relative;
    top: 50%;
    transform: translate(0, -25%);
}


#main-header nav {
    display: inline-block;
}

#main-header nav ul {
    list-style: none;
}

#main-header nav ul li {
    display: inline-block;
    margin: 0 20px;
}

#main-header nav ul li a{
    color: #fff;
    text-decoration: none;
}

#main-header .logo {
    float: left;
}

#main-header .logo img {
    height: 100%; /* mi consente di impostare la nav alla stessa altezza del logo */
}

#main-header #accedi {
    float: right;
}

section#jumbo {
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
}

.jumbo-text {
    width: 62%;
    display: inline-block;
    margin: 80px 0 160px 0;
    color: white;
    font-size: 18px;
    line-height: 1.6;
}

.jumbo-text h2 {
    font-size: 50px;
    margin-bottom: 27px;
}

.jumbo-text p {
    margin-bottom: 20px;
    text-indent: 50px;
}

#jumbo .btn {
    font-size: 20px;
}

