@import url('http://db.onlinewebfonts.com/c/294afa63edf49dc293dd90373066b4d4?family=Whitney');

/*********************
     GENERAL RULES
/*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Whitney", Helvetica, Arial, sans-serif;
}

.container-center {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
}


.btn {
    border-radius: 25px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #fff;
    margin: 10px;
    display: inline-block;
}

.btn.large {
    font-size: 20px;
}

a.btn {
    color: black;
}

a.btn:hover {
    color: #3161e0 !important;
}

.btn.black-white {
    background-color: #000;
    color: white;
}

.btn.white-black {
    background-color: #fff;
}

.logo {
    display: inline-block;
}

.logo img {
    height: 100%;
}

.logo a {
    display: block;
}

.logo a:hover {
    opacity: 0.8;
}


.btn i[class^="fa"]{
    font-size: 20px;
    margin-right: 8px;
}


.f-left {
    float: left;
}

.f-right {
    float: right;
}



/*********************
    SECTIONS RULES
/*********************/

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3161e0;
    text-align: center;
    height: 80px;
    z-index: 999;
}

#main-header div, #main-header nav  {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}


#main-header nav {
    display: inline-block;
}

#main-header nav ul {
    list-style: none;
}

#main-header nav ul li {
    display: inline-block;
    margin: 0 20px;
}

#main-header nav ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
}

#main-header nav ul li a:hover{
    text-decoration: underline;
}


#main-header .logo {
    float: left;
}

#main-header .logo img {
    height: 100%; /* mi consente di impostare la nav alla stessa altezza del logo */
}

#accedi, #registrati {
    float: right;
}

section#jumbo {
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    min-height: 546px;
    position: relative;
    top: 80px;
    z-index: 1;
}

.jumbo-text {
    width: 62%;
    display: inline-block;
    margin: 80px 0 160px 0;
    color: white;
    font-size: 20px;
    line-height: 1.6;
}

.jumbo-text h2 {
    font-size: 54px;
    margin-bottom: 27px;
}

.jumbo-text p {
    margin-bottom: 20px;
    text-indent: 50px;
}



section.screen {
    height: calc(100vh - 80px);
    width: 100%;
    padding-top: 100px;
}

main section .container-center {
    padding-top: 80px;
}

main section.full .container-center {
    padding-top: 80px;
}


section.col-left .text {
    float: left;
    width: 40%;
    padding: 0 5% 0 5%;
}

section.col-left img {
    float: right;
    width: 50%;
}


section .text h2 {
    font-size: 50px;
    margin: 20px 0;
}

section .text p {
    font-size: 24px;
    line-height: 1.4;
}


section.col-right .text {
    float: right;
    width: 40%;
    padding: 0 5% 0 5%;
}

section.col-right img {
    float: left;
    width: 50%;
}

section.full {
    text-align: center;
    margin: 0 auto;
}

/*
dando height:100% sulla dimensione della section (100vh-80px) mi dava problemi, in quanto
non mi scalava l'immagine al ridimensionamento orizzontale
*/
section.full img {
    object-fit: contain;
}

section.full .text {
    margin: 0 auto;
}

section.full .text h2 {
    font-size: 5vh;
}

section.full .text p {
    font-size: 2.5vh;
}

section::after {
    content:"";
    display: table;
    clear: both;
}

section.download {
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 160px 0;
    text-align: center;
    background-color: #f6f6f6;
}

section.download .container-center {
    width: 50%;
}


.stars {
    background-image: url("img/stars.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px;
    font-size: 32px;
    display: table;
    margin: 0 auto;
}


.indigo {
    background-color: #8ea1e1;
    color: white !important;
}






footer {
    width: 100%;
    background-color: #23272a;
    color: white;
    padding: 40px 0 120px 0;
}


footer a {
    color: white;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 10px;
    font-size: 16px;
}


footer :is(h1,h2,h3,h4,h5,h6) {
    color: #7289da;
}

footer .top {
    border-bottom: 1px solid white;
    padding: 40px 0 30px 0;
}

footer .top::after {
    content: "";
    display: table;
    clear: both;
}

footer .bottom {
    padding-top: 30px;
    height: 100px;
    position: relative;
}

.bottom > * {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}


footer .column {
    float: left;
}


.fifth {
    width: 20%;
    margin-right: 12.5%;
}

.tenth {
    width: 10.5%;
    margin-right: 5%;
}


footer h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

footer h5 {
    font-size: 18px;
    margin-bottom:10px;
}

div.lang {
    height: 20px;
    line-height: 20px;
}

div.lang img {
    height: 100%;
    vertical-align: middle;
}

.social-links {
    margin-top: 30px;
}


a.link-box {
    font-size: 20px;
    margin-right: 20px;
}




main section:nth-child(even){
    background-color: #f6f6f6;
}

main section:not(:nth-last-of-type(2)):nth-child(even)::after, main section:not(:last-of-type):nth-child(odd)::after {
    content: "";
    background-image: url('data:image/svg+xml;utf8,<svg class="wave-1hkxOo" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100" preserveAspectRatio="none"><path class="wavePath-haxJK1 animationPaused-2hZ4IO" d="M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z" fill="%23FFFFFF"></path></svg>'); 
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 80px;
   
}

main section:not(:nth-last-of-type(2)):nth-child(even)::after{
    position: relative;
    top: -80px; /* padding of sections */
}


main section:not(:last-of-type):nth-child(odd)::after {
    transform: rotate(180deg);
}




